<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/styles/home.css">
  <title>{{site.name}}'s Homepage</title>

  <meta property="og:title" content="{{site.name}}'s Homepage" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:image" content="{{"/assets/img/me.jpeg" | absolute_url}}" />
  <meta property="og:description" content="{{post.excerpt}}" />
</head>
<body>
  <header>
    {% include navbar.liquid %}
  </header>
  <main>
  {{content}}
  <h2>Here's some thoughts:</h2>
  <ol id="list-posts">
  {% for post in site.posts %}
    <li>
      <article>
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        {{post.excerpt}}
      </article>
    </li>
  {% endfor %}
</ol>
</main>
</body>
</html>